<div class="fixed-icons">
  @*   <a href="#"> <img src="~/css/Image/zalo.png" alt="Zalo" /></a> *@
  
        <a href="https://www.facebook.com/profile.php?id=61578887938821"> <img src="~/css/Image/mess.jpg" alt="Zalo" /></a>
       
   
</div>
<link href="~/css/CSS/Banner2denfooter.css" rel="stylesheet" />
<footer class="bg-white border-top pt-5 pb-3 mt-5">
    <div class="container" style="text-decoration: none !important">
        <div class="row gy-4 text-decoration-none">
            <!-- Cột 1 -->
            <div class="col-12 col-md-3">
                <h6 class="fw-bold">StyleZone  VIETNAM</h6>
                <hr />
                <ul class="list-unstyled">
                    <li><a  asp-controller="Footer" asp-action="GioiThieu">GIỚI THIỆU</a></li>
                    <li><a  asp-controller="Footer" asp-action="HeThongCuaHang">HỆ THỐNG CỬA HÀNG</a></li>
                    <li><a  asp-controller="Footer" asp-action="ThongTinLienHe">THÔNG TIN LIÊN HỆ</a></li>
                </ul>
            </div>

            <!-- Cột 2 -->
            <div class="col-12 col-md-3">
                <h6 class="fw-bold">CHÍNH SÁCH BÁN HÀNG</h6>
                <hr />
                <ul class="list-unstyled">
                    <li><a  asp-controller="Footer" asp-action="BaoMat">BẢO MẬT</a></li>
                    <li><a  asp-controller="Footer" asp-action="ThanhToan">THANH TOÁN</a></li>
                    <li><a  asp-controller="Footer" asp-action="VanChuyen">VẬN CHUYỂN</a></li>
                    <li><a  asp-controller="Footer" asp-action="DoiTraOnl">ĐỔI TRẢ HÀNG MUA ONLINE</a></li>
                    <li><a  asp-controller="Footer" asp-action="DoiTraTaiNha">ĐỔI TRẢ HÀNG MUA TẠI CỬA HÀNG</a></li>
                </ul>
            </div>

            <!-- Cột 3 -->
            <div class="col-12 col-md-3">
                <h6 class="fw-bold">HỖ TRỢ KHÁCH HÀNG</h6>
                <hr />
                <ul class="list-unstyled">
                    <li><a  asp-controller="Footer" asp-action="DieuKhoanDichVu">ĐIỀU KHOẢN DỊCH VỤ</a></li>
                    <li><a  asp-controller="Footer" asp-action="HuongDanMuaHang">HƯỚNG DẪN MUA HÀNG</a></li>
                    <li><a  asp-controller="Footer" asp-action="HuongDanDoSiZe">HƯỚNG DẪN ĐO SIZE VÀ BẢO QUẢN</a></li>
                    <li><a  asp-controller="Footer" asp-action="HuongDanThanhToan">HƯỚNG DẪN THANH TOÁN</a></li>
                </ul>
            </div>

            <!-- Cột 4 -->
            <div class="col-12 col-md-3">
                <h6 class="fw-bold">NEWSLETTER</h6>
                <hr />
                <p>Đăng ký nhận bản tin để cập nhật những tin tức mới nhất về StyleZone Distributor in Vietnam</p>
               @*  <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Địa chỉ email của bạn" />
                    <button class="btn btn-danger" type="button">Đăng ký</button>
                </div> *@
               @*  <div class="social-icons mb-3">
                    <a  href=""><i class="fab fa-facebook-f"></i></a>
                    <a  href="#"><i class="fab fa-instagram"></i></a>
                    <a  href="#"><i class="fab fa-youtube"></i></a>
                    <a  href="#"><i class="fab fa-tiktok"></i></a>
                </div> *@
                <img src="~/css/Image/img-gov.webp" alt="Đã thông báo" class="img-fluid" style="max-width: 150px;" />
            </div>
        </div>

        <!-- Dưới cùng -->
        <div class="mt-4 border-top pt-3 small text-muted">
            <p class="mb-1">StyleZone Distributor in Vietnam</p>
            <p class="mb-1">Hotline: 0373893515 | truongpvph51152@gmai.com</p>
          
        </div>
    </div>
</footer>
