.card {
     border: 2px solid #dee2e6;
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 16px;
      background-color: #fff;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
      transition: box-shadow 0.3s ease, transform 0.2s ease;
  }

  .card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Bóng xám đen */
    transform: translateY(-4px);
    z-index: 1;
  }

  .btn-primary {
    transition: box-shadow 0.3s ease, transform 0.2s ease;
  }

  .btn-primary:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4); /* Bóng đậm màu xám đen */
    transform: translateY(-2px);
  }